<h2>Products by Academy</h2>
<hr>

<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Product name</th>
            <th>Price</th>
            <th>Description</th>
            <th colspan="2">Operation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productsList">
            <td>{{ product.id }}</td>
            <td><a [title]="product.name + ' details'"
                [routerLink]="['/products', product.id]">
                {{ product.name + ' details'}}
            </a></td>
            <td>{{ product.price | currency }}</td>
            <td>{{ product.description }}</td>
            <td><button (click)="share(product.name)">Share</button></td>
            <td><app-product-alerts
                [product]="product"
                (notify)="onNotify(product.price)">
            </app-product-alerts></td>
          </tr>
        </tbody>
    </table>
</div>
