<br>
<div style="padding-left: 5%;" class="container">
  <h2>Bootstrap</h2>
  <p>npm i bootstrap</p>
  <p>npm audit fix --force</p>
  <p>Copiare il relative path del file 'bootstrap.min.css' nella sezione styles del file 'angular.json'</p>
  <p>
    "styles": [ <br>
    <span class="tab"></span>"src/styles.css", <br>
    <span class="tab"></span>"node_modules/bootstrap/dist/css/bootstrap.min.css" <br>
    ], <br>
  </p>
</div>
<br>
<div style="padding-left: 5%;" class="container">
    <div class="row">
      <div class="col-sm-4" >
        <h3>Regione</h3>
        <select (change)="changeRegione($event)">
          <option [value]="0">seleziona regione</option>
          <option [value]="regione.ID" *ngFor="let regione of regioneList">{{regione.Name}}</option>
        </select>
      </div>
     
      <div class="col-sm-4" >
        <div *ngIf="provSelectedList.length > 0" >
          <h3>Provincia</h3>
          <select (change)="changeProvincia($event)">
            <option [value]="0">seleziona provincia</option>
            <option [value]="province.ID" *ngFor="let province of provSelectedList">{{province.Name}} </option>
          </select>
        </div>
      </div>
      <div class="col-sm-4" >
        <div *ngIf="comSelectedList.length > 0" >
          <h3>Comune</h3>
          <select (change)="changeComune($event)">
            <option [value]="0">seleziona comune</option>
            <option [value]="comune.ID" *ngFor="let comune of comSelectedList">{{comune.Name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div *ngIf="isVisibleLink" style="margin-top: 6%;">
      <div class="col my-column">
        <a [routerLink]="['/daticomune']" type="button" class="my-btn btn btn-primary" routerLinkActive="router-link-active"  target="_blank">View</a>
      </div>
      <!-- <a href="daticomune">view</a> -->
      <!-- <a mat-raised-button [routerLink]="['/daticomune']" routerLinkActive="router-link-active"  target="_blank">View</a> -->
    </div>
  </div>